<li class="food {% if food.featured_in_menu? %}food--featured{% endif %} {{food.auto_css_classes}}" id="food-{{food.id}}">
  {% if add_overlay == true %}
    <div class="image-wrapper">
  {% endif %}

  {% if food.main_image? %}
    {{ food.main_image | custom_image_url:'450x800#' | image_tag:'class:food__image' }}
  {% else %}
    {{ 'fallback-image.gif' | asset_url | image_tag: 'alt:food-image', 'class:food__fallback-image', 'width:450'}}
  {% endif %}

  {% if add_overlay == true %}
    <div class="image-overlay">
      <p class="image-overlay--title">{{ food.name }}</p>
    </div>
    </div>
  {% endif %}
  {% if display_infos_food == true %}
    <div class="food__body">
      <h5 class="food__title">
        {% if food.featured_in_menu? %}
          <i class="icon icon-bookmark"></i>
        {% endif %}
        {{ food.name }}
      </h5>
      {% if food.tags? %}
        <div class="food__tags">
          {% for tag in food.tags %}
            <i class="tag tag--{{ tag.css_class }}">{{ tag.name }}</i>
          {% endfor %}
        </div>
      {% endif %}
      {% if food.summary? %}
        <div class="food__summary">
          {{ food.summary }}
        </div>
      {% endif %}
      {% if prices.size > 0 %}
        <div class="food__prices">
          <ul class="prices">
            {% for price in prices %}
            <li class="price">
              <span class="price__label">{{ price.title }}</span>
              <span class="price__value">{{ price.amount | money }}</span>
            </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>
  {% endif %}
</li>
