<div class="menu {% if menu.featured %} menu--featured {% endif %}" id="menu-{{menu.id}}">
  {% if menu.depth == 1 %}
    <div class="wrapper">
  {% endif %}
  {% if title == true %}
    <div class="menu__header">
      <h{{ menu.depth | plus: 1 }} class="menu__title">
        {{ menu.name }}
      </h{{ menu.depth | plus: 1 }}>
    </div>
  {% endif %}
  {% if menu.summary? %}
    <div class="menu__description">
      {{ menu.summary }}
    </div>
  {% endif %}
  {% if menu.foods? %}
    <ul class="block-grid">
      {% for food in menu.foods %}
        {% assign_prices_to prices for food in menu %}
        {% include 'food' with food:food, menu:menu, display_infos_food:true %}
      {% endfor %}
    </ul>
  {% endif %}
  {% if menu.children? %}
    {% for child in menu.children %}
      {% include 'menu' with menu:child %}
    {% endfor %}
    <div class="clearer"></div>
  {% endif %}
  {% if menu.depth == 1 %}
    <div class="clearer"></div>
    <div class="back-to-menu">
      <a class="back-to-menu__link" href="#top">{{ "Retour au menu" | t }}</a>
    </div>
  {% endif %}
  {% if menu.depth == 1 %}
    </div>
  {% endif %}
</div>
